/Library
/obj
/Assembly-CSharp.csproj
/Assembly-CSharp-firstpass.csproj
/Assembly-CSharp-firstpass-vs.csproj
/Assembly-CSharp-vs.csproj
/NewPlane.sln
/NewPlane.userprefs
/NewPlane-csharp.sln
/.idea
/.vscode
/FyingGameDemo.sln
/Temp
